
.healthcare {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;

  &__left {
    width: 445px;
  }

  &__text {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;

    color: #000;

    margin-bottom: 25px;
  }

  &__title {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;

    color: #7d7987;

    margin-bottom: 45px;
  }

  &__button {
    background: #458ff6;

    font-weight: bold;
    font-size: 18px;

    border: none;
    color: #fff;

    &:hover {
      color: #458ff6;
      background-color: #fff;
      border: 2px solid #458ff6;
    }
  }

  &__right {
    width: 50%;
    height: 598px;
    background-image: url('../images/1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 1000px) {
  .healthcare {
    flex-direction: column;

    &__left {
      text-align: center;
      margin-bottom: 40px;
      max-width: 445px;
      width: 100%;
    }

    &__right {
      height: 400px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 500px) {
  .healthcare {

    &__right {
      height: 300px;
    }
  }
}
