@import "utils";
@import "fonts";
@import "typography";
@import "./header.scss";
@import "./healthcare.scss";
@import "./services.scss";
@import "./gallery.scss";
@import "./customer.scss";
@import "./article.scss";
@import "./footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Mulish", sans-serif;
}

.button {
  min-width: 200px;
  height: 56px;
  border-radius: 55px;
  padding: 0 10px;

  outline: none;
  cursor: pointer;

  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.main {
  max-width: 1260px;
  margin: 84px auto 0;
  padding: 0 20px;
}
